*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ad{
  height: 100vh;
  width: 100vw;
  background: url("BG.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1316px;
  height: 735px;
  border: 3px solid #000;
  background: url("bgcontainer.jpg") no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.tabletcontainer {
  display: none;
}

.mainBG{
  height: 735px;
  position: absolute;
}

.animatiomWrapper {
  width: calc(1316px - 150px);
  height: calc(735px - 150px);
  overflow: hidden;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.samsung {
  margin-top: 60px;
  width: 192px;
  height: 30px;
}

.jet {
  width: 236px;
  height: 38px;
  position: relative;
}

.mainString {
  margin-top: 60px;
  position: relative;

}

.mainString img{
  width: calc(666px - 20%);
  position: absolute;
}

.slidingBG {
  background: #fff;
  width: 55%;
  height: 735px;
  position: absolute;
  left: 0;
  top: 0;
}

.slider {
  width: 100%;
  margin-bottom: -60px;
  position: absolute;
  bottom: 370px;
  left: 70px;
}

.slides {
  display: flex;
  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease
}

.slide a {
  text-decoration: none;
  color: #808080;
  font-size: 20px;
}

.readMore1 {
  position: absolute;
  top: 86px;
  right: 457px;
}

.readMore2 {
  position: absolute;
  top: 87px;
  right: 432px;
}

.readMore4 {
  position: absolute;
  top: 120px;
  right: 541px;
}

.slide img {
  width: 450px;
  height: auto;
  display: block;
  cursor: pointer;
}

.wrapperControls{
  position: relative;
  top: 160px;
}

.controls {
  display: flex;
  transform: translateY(-50%);
  align-items: center;
}

.control {
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 33px;
}
.counter {
  font-size: 18px;
  padding: 5px 8px 0px 8px;
}

.active {
  opacity: 1;
  visibility: visible;
}

.image-gallery {
  display: flex;
  justify-content: center;
  width: 700px;
  height: 735px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.image-gallery img {
  position: absolute;
  left: 699px;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.image-gallery img.active-img {
  opacity: 1;
  visibility: visible;
}

.button {
  display: flex;
  position: absolute;
  bottom: 70px;
  width: 260px;
  height: 85px;
  cursor: pointer;
}

.seeSite {
  position: absolute;
  color: #fff;
  font-size: 15px;
  bottom: 30px;
  left: 70px;
  opacity: 0.7;
}

.image-galleryTablet {
  display: flex;
  justify-content: center;
  width: 700px;
  height: 735px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.image-galleryTablet img {
  position: absolute;
  left: 437px;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.image-galleryTablet img.active-img {
  opacity: 1;
  visibility: visible;
}


@media (max-width: 1320px) {
  .container {
    display: none;
  }
  .tabletcontainer {
    width: 800px;
    height: 450px;
    border: 3px solid #000;
    background: url("bgcontainer.jpg") no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .mainBG{
    height: 450px;
    position: absolute;

  }

  .animatiomWrapper {
    margin: 30px 30px;
    width: 800px;
    height: 450px;
    overflow: hidden;
  }
  .samsung {
    margin-top: 60px;
    width: 115px;
    height: 18px;
  }
  .jet {
    width: 141px;
    height: 23px;
    position: relative;
  }
  
  .logos {
    margin-top: 30px;
  }
  .mainString img{
    width: calc(666px - 50%);
    position: absolute;
  }
  .mainString {
    margin-top: 30px;
    position: relative;
  
  }
  .slidingBG {
    height: 450px;
  }
  .slide img {
    width: 270px;
    height: auto;
    display: block;
    cursor: pointer;
  }

  .slider {
    top: 215px;
    left: 30px;
    margin-bottom: 0;
  }

  .slide a {
    text-decoration: none;
    color: #808080;
    font-size: 13px;
  }

  .readMore1 {
    top: 50px;
    right: 273px;
  }

  .readMore2 {
    display: block;
    top: 51px;
    right: 259px;
  }
  
  .readMore4 {
    position: absolute;
    top: 70px;
    right: 324px;
  }

  .wrapperControls{
    position: relative;
    top: 100px;
  }

  .control {
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
  }
  .counter {
    font-size: 14px;
    padding: 3px 4px 0px 4px;
  }

  .button {
    width: 156px;
    height: 51px;
    display: flex;
    position: absolute;
    bottom: 60px;
  }

  .seeSite {
    font-size: 13px;
    left: 30px;
    bottom:20px;
    opacity: 0.7;
  }


}
